:root {
  --text-color: #fff;
  --bg-color: #404040;
  --bg-section-color: #606060;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

html,
body {
  background-color: var(--bg-color);
}

body {
  font: 1em Arial, sans-serif;
  display: grid;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.no-cursor {
  cursor: none;
}
