.nav-bar {
  margin: auto;
  width: fit-content;
}

.nav-bar__link {
  padding: 0.5em;
  color: var(--text-color);
  text-decoration: none;
}

.nav-bar__link:hover,
.nav-bar__link.active {
  text-decoration: underline;
}
